<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/paid.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

    <title></title>
</head>

<body>
    <div class="">


        <nav class="horizontal-menu12">
            <ul>


                <li> <a href="/index">Home </a></li>
                <li> <a href="/paid">Paid</a></li>
                <li> <a href="/Android">Youtube Videos</a></li>



            </ul>


        </nav>

        <nav class="vertical-menu12">
            <ul>


                <li> <a href="#">Webdevelopement</a></li>
                <li> <a href="#">Productivity</a></li>
                <li> <a href="/Android">Android Development</a></li>
                <li> <a href="#">Maths</a></li>
                <li> <a href="#">Data Structures And Algorithms</a></li>


            </ul>




        </nav>
