<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!Doctype html>
    <html>
    <head>

        <link rel="stylesheet" type="text/css"href="css/hello.css" >
         <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet" type="text/css">
        <title> Educational Courses </title>
         </head>

        <body>

        <div class="header">
          <video autoplay loop muted>
            <source src="jm1.mp4" type="video/mp4">

            </video>
                <div class="text-box">

         <h1 class="heading">
                    <span class="heading-primary"> welcome</span>
                    <span class="heading-sub"> Your search ends here</span>

         </h1>
                </div>
                <ul style="margin-right: 210px;">

            <li> <a href="#" class="a">   HOME</a></li>
            <li> <a href="#kd" class="a">   About Me</a></li>
          <li> <a href="paid" class="a">    Courses  </a></li>
                   

            </ul>




          </div>
            <header class="v" id="kd">







            </header>




</html>
